// place your custom styles here
:root {
    --platinum: #DDDFDF;
    --thistle: #D0C4DF;
    --plum: #DCABDF;
    --wisteria: #C792DF;

    --mantis: #79B473;
    --mantis-lite: #C9E1C7;

    --kobold: #FFBA08;
    --kobold-lite: #FFF1CE;

    --aboleth: #E85D04;
    --aboleth-lite: #FEDEC9;

    --dragon: #D00000;
    --dragon-lite: #FFC3C3;

    --kraken: #370617;
    --kraken-lite: #F6AEC7;

    --tarrasque: #03071E;
    --tarrasque-lite: #A8B4F6;
}

.containment-class {
    align-items: center;
    align-content: center;
    background-color: var(--platinum);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    padding: 10px 15px;
    width: 100%;

    .top-bar {
        align-items: center;
        display: grid;
        font-size: 18px;
        grid-template-columns: max-content auto max-content;
        margin-bottom: 10px;
        width: 100%;

        strong {
            font-size: 36px;
        }

        .separators {
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-around;
            padding: 0 20px;
            width: 100%;

            .separator {
                background-color: var(--wisteria);
                height: 15px;
            }
        }

        .level {
            font-size: 14px;
        }

        .text {
            font-weight: bold;
        }
    }

    .bottom-bar {
        align-items: stretch;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        min-height: 75px;

        .containment, .disruption, .risk {
            align-items: center;
            border-left: 10px solid;
            display: flex;
            justify-content: space-between;
            padding-left: 5px;
        }

        .containment {
            padding-left: 20px;

            &.uncontained {
                background: var(--dragon-lite);
                border-color: var(--dragon);
            }

            &.safe, &.material {
                background: var(--mantis-lite);
                border-color: var(--mantis);
            }

            &.neutralized {
                background: white;
                border-color: var(--thistle);
            }

            &.tower {
                background: var(--kobold-lite);
                border-color: var(--kobold);
            }

            &.dimension {
                background: var(--tarrasque-lite);
                border-color: var(--tarrasque);
            }

            .class {
                font-size: 36px;
                font-weight: bold;
            }

            .icon {
                padding: 0 20px 0 30px;
                i {
                    font-size: 60px;
                }
            }
        }

        &.md .containment {
            margin-right: 5px;
        }

        &.sm .containment {
            margin-bottom: 10px;
            width: 100%;
        }

        &.xs .containment {
            margin-bottom: 10px;
            width: 100%;

            .class {
                font-size: 20px;
            }
        }

        .other {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

        }

        &.sm .other, &.xs .other {
            width: 100%;
        }

        .disruption, .risk {
            display: flex;
            justify-content: space-between;
            padding: 5px 10px;

            &:first-child {
                margin-bottom: 5px;
            }

            &.safe, &.material {
                background: var(--mantis-lite);
                border-color: var(--mantis);

                .icon {
                    background: var(--mantis);
                }

                i {
                    margin-right: -1px;
                }
            }

            &.unknown {
                background: white;
                border-color: var(--thistle)
            }

            &.neutralized {
                background: white;
                border-color: var(--thistle);

                .icon {
                    background: burlywood;
                }
            }

            &.caution {
                background: var(--kobold-lite);
                border-color: var(--kobold);

                .icon {
                    background: var(--kobold);
                }

                i {
                    margin-top: -4px;
                }
            }

            &.kobold {
                background: var(--kobold-lite);
                border-color: var(--kobold);

                .icon {
                    background: var(--kobold);
                }

                i {
                    margin-top: -4px;
                }
            }

            &.aboleth {
                background: var(--aboleth-lite);
                border-color: var(--aboleth);

                .icon {
                    background: var(--aboleth);
                }
            }

            &.danger {
                background: var(--dragon-lite);
                border-color: var(--dragon);

                .icon {
                    background: var(--dragon);
                }
            }

            &.critical {
                background: var(--tarrasque-lite);
                border-color: var(--tarrasque);

                .icon {
                    background: var(--tarrasque);
                    color: var(--platinum)
                }

                i {
                    margin-right: -4px;
                    margin-bottom: -1px;
                }
            }

            &.tarrasque {
                background: var(--tarrasque-lite);
                border-color: var(--tarrasque);

                .icon {
                    background: var(--tarrasque);
                    color: var(--platinum)
                }
            }

            &.dimension {
                background: var(--tarrasque-lite);
                border-color: var(--tarrasque);

                .icon {
                    background: var(--tarrasque);
                    color: var(--platinum)
                }
            }

            .label {
                font-size: 10px;
            }

            .class {
                font-weight: bold;
                font-size: 18px;
            }

            .icon {
                align-items: center;
                border: 2px solid black;
                display: flex;
                justify-content: space-around;
                height: 30px;
                margin-left: 20px;
                width: 30px;
            }

            i {
                font-size: 24px;
            }
        }
    }

    .icon {
        border-radius: 50%;
    }

    .quick-view {
        margin-left: 70px;

        i {
            color: black;
        }

        div {
            &.safe, &.material {
                .diamond {
                    color: var(--mantis);
                }

                i {
                    margin-right: -2px;
                }
            }
            &.kobold, &.tower, &.caution {
                .diamond {
                    color: var(--kobold);
                }
            }

            &.aboleth {
                .diamond {
                    color: var(--aboleth);
                }
            }

            &.neutralized, &.unknown {
                .diamond {
                    color: var(--thistle)
                }
            }

            &.uncontained {
                .diamond {
                    color: var(--dragon);
                }
            }

            &.danger, &.dragon {
                .diamond {
                    color: var(--dragon);
                }
            }

            &.tarrasque, &.critical, &.dimension {
                .diamond {
                    color: var(--tarrasque);
                }
            }

            &.tarrasque i, &.dimension i {
                color: var(--platinum) !important;
            }

            &.critical i {
                color: var(--platinum) !important;
                margin-right: -4px;
                margin-bottom: -5px;
            }
        }

        .diamond {
            z-index: 0;
            color: white;
        }

        .icon {
            font-size: 30px;
            left: 37.5px;
            position: absolute;
            top: 37.5px;
            transform: translateY(-50%) translateX(-50%);
            z-index: 100;
        }

        .top, .left, .right, .bottom {
            position: relative;
        }

        .top {
            margin-left: -3px;
        }

        .middle {
            display: flex;
            margin-top: -44px;
            margin-left: -37.5px;
            .left {
                margin-right: -3px;
            }
            .right {
                margin-left: -3px;
            }
        }

        .bottom {
            margin-left: -3px;
            margin-top: -44px;
        }
    }
}